<div class="row">
  <div class="col-sm-12">
    <h1 class="h4 d-inline-block">
      Kayaşehir Oses Çiğköfte
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-inline dot-spacer">
      <li class="nav-item"><span class="font-weight-bold">8</span> products</li>
      <li class="nav-item"><a href="#">Kayaşehir, Istanbul</a></li>
      <li class="nav-item">6.2</li>
    </ul>
  </div>
</div>
