<%= render 'navbar' %>

<div class="container py-5 px-5 bg-white rounded mt-3">
  <div class="row">

    <div class="col-sm-12">

      <%= render 'title' %>

      <%= render 'tabs' %>
 
      <div class="comments mt-2">


      </div>
    </div>
  </div>
</div>