<div class="row">
  <div class="col-sm-12">
    <h1 class="h4 d-inline-block">
      Cihad Paksoy
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-inline dot-spacer">
      <li class="nav-item"><span class="font-weight-bold">24</span> using</li>
      <li class="nav-item"><span class="font-weight-bold">56</span> used</li>
      <li class="nav-item"><span class="font-weight-bold">3072</span> points</li>
    </ul>
  </div>
</div>
