<div class="row">
  <div class="col-sm-2">
    <%= image_tag placeholder(150, 150), class: 'figure-img img-fluid rounded' %>
  </div>
  <div class="col-sm-10">
    <h1 class="h3 mt-1">Cihad Paksoy</h1>
    <ul class="nav nav-inline dot-spacer">
      <li class="nav-item"><span class="font-weight-bold">24</span> using</li>
      <li class="nav-item"><span class="font-weight-bold">56</span> used</li>
      <li class="nav-item"><span class="font-weight-bold">3072</span> points</li>
    </ul>
  </div>
  
</div>