<%= render 'left' %>

      <section class="category-section">
        <div class="card-deck-wrapper">
          <div class="card-deck">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">TVs</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Smart TV</li>
                <li class="list-group-item">Led TV</li>
                <li class="list-group-item">4K UHDT TV</li>
                <li class="list-group-item">3D Smart TV</li>
              </ul>
            </div>
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Refrigerators</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">No Frost</li>
                <li class="list-group-item">Frost</li>
                <li class="list-group-item">Buro Type</li>
                <li class="list-group-item">Two Doored Type</li>
                <li class="list-group-item">Single Doored Type</li>
              </ul>
            </div>
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

<%= render 'right' %>
