<%= render 'left' %>

      <section class="category-section">
        <div class="card-deck-wrapper">
          <div class="card-deck">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Refrigerators</h4>
                <nav class="nav nav-pills nav-stacked">
                  <a class="nav-link" href="#">No Frost</a>
                  <a class="nav-link" href="#">Frost</a>
                  <a class="nav-link" href="#">Buro Type</a>
                  <a class="nav-link" href="#">Two Doored Type</a>
                  <a class="nav-link" href="#">Single Doored Type</a>
                </nav>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">TVs</h4>
                <nav class="nav nav-pills nav-stacked">
                  <a class="nav-link" href="#">Led TV</a>
                  <a class="nav-link" href="#">4K UHD</a>
                  <a class="nav-link" href="#">OLED LEd TV</a>
                  <a class="nav-link" href="#">Smart</a>
                </nav>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <nav class="nav nav-pills nav-stacked">
                  <a class="nav-link" href="#">Active</a>
                  <a class="nav-link" href="#">Link</a>
                  <a class="nav-link" href="#">Link</a>
                  <a class="nav-link" href="#">Disabled</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>

<%= render 'right' %>
