<%= render 'left' %>

<section class="category-section">
  <div class="row">
    <div class="col-sm-3 category-title">TVs</div>
    <div class="col-sm-9">
      <a href="#">No Frost</a>, 
      <a href="#">Frost</a>, 
      <a href="#">Buro Type</a>, 
      <a href="#">Two Doored Type</a>, 
      <a href="#">Single Doored Type</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 category-title">Refrigerators</div>
    <div class="col-sm-9">
      <a href="#">Led TV</a>, 
      <a href="#">4K UHD</a>, 
      <a href="#">OLED LEd TV</a>, 
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 category-title">Washing Machines</div>
    <div class="col-sm-9">
      <a href="#">Washing Machines</a>,
      <a href="#">Washing Machines with Drying</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 category-title">TVs</div>
    <div class="col-sm-9">
      <a href="#">No Frost</a>, 
      <a href="#">Frost</a>, 
      <a href="#">Buro Type</a>, 
      <a href="#">Two Doored Type</a>, 
      <a href="#">Single Doored Type</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 category-title">Refrigerators</div>
    <div class="col-sm-9">
      <a href="#">Led TV</a>, 
      <a href="#">4K UHD</a>, 
      <a href="#">OLED LEd TV</a>, 
      <a href="#">Led TV</a>, 
      <a href="#">4K UHD</a>, 
      <a href="#">OLED LEd TV</a>, 
      <a href="#">Led TV</a>, 
      <a href="#">4K UHD</a>, 
      <a href="#">OLED LEd TV</a>, 
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 category-title">Washing Machines</div>
    <div class="col-sm-9">
      <a href="#">Washing Machines</a>,
      <a href="#">Washing Machines with Drying</a>
    </div>
  </div>
</section>  

<%= render 'right' %>
