<div class="row">
  <div class="col-sm-12">
    <h1 class="h4 d-inline-block">
      <a href="#" data-toggle="modal" data-target="#myModal">
        Samsung
      </a>
    </h1>
    <span class="h4 text-muted">/</span>
    <h2 class="h4 d-inline-block">
      <a href="#" data-toggle="modal" data-target="#myModal">
        Galaxy S5
      </a>
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-inline dot-spacer">
      <li class="nav-item">
        <span class="font-weight-bold">12234</span> using
      </li>
      <li class="nav-item">
        <span class="font-weight-bold">21078</span> used
      </li>
      <li class="nav-item">7.3/10</li>
      <li class="nav-item">production: <span class="text-danger font-weight-bold">over</span></li>
      <li class="nav-item">sales: <span class="text-success font-weight-bold">continue</span></li>
    </ul>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>