<%= render 'navbar' %>

<div class="container rounded mt-3">

  <%= render 'title' %>

  <%= render 'tabs' %>


  <div class="mt-2">

    <ul>
      <li>Similar products by Samsung</li>
      <li>Similar products by other brands</li>
      <li>Forum</li>
      <li>Rank</li>
      <li>Age Analysis</li>
      <li>Gender Analysis</li>
      <li>Medias</li>
      <li>Sales by Country (how about started and ended)</li>
      <li>Sales Amounts</li>
      <li>Popularity</li>
      <li>Specifications</li>
      <li>Versions</li>
      <li>Generations</li>
      <li>Best products of all time</li>
      <li>Compare</li>
      <li>Tecnical Service</li>
      <li>List</li>
    </ul>


  </div>

</div>

